@mixin reset {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

@mixin body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
}

@mixin h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;    
}
