.container-grid-video{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px ;
    column-gap: 2%;
    row-gap: 2%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    iframe{
        object-fit: cover;
        height: 80%;
        width: 100%;
    }
}