/*BANNER*/
.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url(../assets/images/racket-6308994_1920.jpg);
    background-size: 100% 100% cover;
    background-position: center;
    margin-top:-10px;
    margin-bottom: 3%;
    h2{
        color: white;
        text-align: center;
        width: 75%;
        margin-bottom: 15px;
    }
    .btn{
        display: flex;
        background-color: #004e64;
        width: fit-content;
        a{
            text-decoration: none;
            color: white;
            font-weight: 600;
            padding: 10px 15px;
        }
    }
    .btn:hover{
        display: flex;
        transition: 0.5s;
        transform: scale(1.2);
        background-color: #25A18E;
        width: fit-content;
    }
}

/*NUESTRAS ACTIVIDADES*/
.nuestras-actividades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    .grid-act{
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto auto;
        width: 100%;
        align-items: center;
        margin-top: 20px;
        div{
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px #004e solid;
            padding: 15px;
            img{
                height: 350px;
                width: 250px;
                object-fit: cover;
                object-position: top;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                text-decoration: none;
                font-weight: 600;
                background-color: #004e64;
                width: fit-content;
                padding: 10px 15px;
                margin-top: 15px;
            }
            a:hover{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                text-decoration: none;
                font-weight: 600;
                transition: 0.5s;
                transform: scale(1.2);
                background-color: #25A18E;
                width: fit-content;
                padding: 10px 15px;
                margin-top: 15px;
            }
        }
    }
}

/*La Vivora Padel Club*/
.titulo-h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
    p{
        width: 80%;
        text-align: center;
        line-height: 25px;
    }
    h1 {
        width: 75%;
    }
}
.btn-conoce-mas {
    text-align: center;
    margin-top: 25px;
    a{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        text-decoration: none;
        font-weight: 600;
        background-color: #004e64;
        padding: 10px 15px;
        margin-top: 15px;
    }
    a:hover{
        transition: 0.5s;
        background-color: #25A18E;
    }
}

/*Carrusel Testimonios*/
.test-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimonios {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    width: 90%;
    margin-top: 20px;
    article{
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 65%;
        border: 3px #004e64 solid;
        padding: 20px 40px;
        h3{
            margin-top: 15px;
        }
        img {
            border-radius: 500px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}

/*Galeria home*/
.galeria{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}
.galeria-box{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 30px;
}
.video{
    width: 650px;
    iframe{
        width: 98%;
        height: 400px;
    }
}

.imagenes{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    img{
        height: 180px;
        width: 220px;
        object-fit: cover;
    }
}

.btn-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        text-decoration: none;
        font-weight: 600;
        background-color: #004e64;
        width: fit-content;
        padding: 10px 15px;
        margin-top: 15px;
        &:hover{
            transition: 0.5s;
            transform: scale(1.2);
            background-color: #25A18E;
        }
    }
}
